html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth; /* Défilement fluide */
}

body {
    width: 100vw;
    overflow-y: hidden;
}

main {
    scroll-snap-type: y mandatory; /* Active le snapping sur l'axe vertical */
    overflow-y: scroll; /* Nécessaire pour permettre le défilement */
    height: 100vh; /* Prend toute la hauteur de l'écran */
}

section{
    scroll-snap-align: start;
    height: 100vh;
}