.FifthSlide{
    width: 100%;
    height: 100vh;

    @include flex-center;

    div{
        width: 48%;
        height: 90%;

        @include flex-col;

        iframe{
            width: 100%;
            height: 80%;
        }
    }
}