.ThirdSlide {
    height: 100vh; // La section prend toute la hauteur de la fenêtre
    width: 100%; // La section prend toute la largeur de la fenêtre
    background-color: white;
    overflow: hidden;

    @include flex-center;
}


