nav{
    height: 10vh;

    @include flex-between;

    div{
        @include flex-center;
    }
    .NavDivOne{
        width: 20%;
    }
    .NavDivTwo{
        width: 50%;

        @include flex-between;
    }
    .NavDivThree{
        width: 20%;
    }
}
